.system-page {
    max-width: 1400px;
    padding: 2vw;
    margin: 0 auto;
}

.R2Lfol3tGyrBb2YQS6zR {
    line-height: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    width: 1100px; /* Ancho del cuadro */
    height: 500px; /* Altura del cuadro */
    margin: 0 auto;
    background-color: #00274d; /* Fondo azul oscuro */
    color: #fff; /* Color de texto blanco */
    overflow-y: auto; /* Scroll vertical si el contenido excede la altura */
}

.i_wF9fo0lb5UREznwA1A {
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}

.css-xxxyq5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin: 0px;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

.separator {
    width: 100%;
    border: 1px solid #fff; /* Línea separadora blanca */
    margin-top: 10px;
    margin-bottom: 20px; /* Espacio debajo de la línea */
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cart-products-container {
    width: 100%;
}

.cart-product {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.cart-product-image {
    width: 100px; /* Tamaño uniforme de la imagen */
    height: auto;
    margin-right: 20px;
}

.cart-product-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cart-product-name,
.cart-product-price,
.cart-product-quantity {
    margin-bottom: 5px;
}

.product-separator {
    width: 100%;
    border: 1px solid #fff; /* Línea separadora blanca */
}

.error-message {
    color: red;
    margin-bottom: 20px;
}

.sqs-button-element--secondary {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #004080; /* Color de botón azul oscuro */
    padding: 10px 20px;
    border-radius: 5px;
}

.sqs-button-element--secondary:hover {
    background-color: #0066cc; /* Color de botón azul más claro al pasar el cursor */
}

